.signup-view-container {
    padding-top: 10em;
    padding-bottom: 5em;
    background: url('https://www.dropbox.com/s/pixbs5kxpkchyp7/tools1.jpg?dl=1') no-repeat;
    font-size: 1.1rem;
}

.signup-view-container .divider {
    margin-top: 1em;
    margin-bottom: 1em;
}

.signup-view-container .second-divider {
    margin-top: 0;
    margin-bottom: 0;
}

.signup-view-container .fs-headline {
    padding-top: 1em;
    text-align: center;
    font-size: 2em;
}

#signup-dialog {
    opacity: .85;
}

#signup-buttons-container {
    margin-top: 2em
}

#signup-buttons-container button {
    font-size: 1.1rem;
}