.product-list-view-container {
    margin-top: 6rem;
    padding: 0 !important;
}

.product-list-view-container .fs-title {
    font-size: 3em;
}

.product {
    padding: 2em;
}

.product-list-tabs .tabs__link span {
    font-size: 1.25em;
}

.product-list-tabs .tabs {
    background-color: rgb(144, 164, 174);
}

#extra-info-dialog img {
    margin: auto;
}