<div class="product-list-view-container p+" flex-container="column" flex-align="center">
    <div class="p+" flex-container="row" flex-column="16" flex-align="center">
        <div flex-item="10">
            <div class="divider divider--dark"></div>
            <div class="p+" flex-container="row" flex-column="12" flex-align="space-between center">
                <div id="btn1-container" class="button-container" flex-item="4" flex-container="column" flex-align="center">
                    <a ui-sref="houses"><button id="btn1" class="btn btn--m btn--white btn--flat tc-white-1" lx-ripple="white-2">Startup 1</button></a>
                </div>
                <div id="btn2-container" class="button-container" flex-item="4" flex-container="column" flex-align="center">
                    <a ui-sref="furniture"><button id="btn2" class="btn btn--m btn--white btn--flat tc-white-1" lx-ripple="white-2">JMuebles</button></a>
                </div>
                <div id="btn3-container" class="button-container" flex-item="4" flex-container="column" flex-align="center">
                    <a ui-sref="shoes"><button id="btn3" class="btn btn--m btn--white btn--flat tc-white-1" lx-ripple="white-2">Startup 3</button></a>
                </div>
            </div>
            <div class="divider divider--light"></div>
        </div>
    </div>
</div>