<div class="product-list-view-container p+" flex-container="column" flex-align="center">
    <div class="p+" flex-container="row" flex-column="16">
        <div flex-item>
            <span class="fs-title display-block mb">Productos</span>
            <div class="divider divider--dark"></div>
        </div>
    </div>

    <div class="p+" flex-container="row" flex-column="16" flex-align="center">
        <!-- Product search options -->
        <div class="search-options" flex-item="3" flex-item-order="1">
            <div class="p+ bgc-red-500"></div>
        </div>

        <!-- Tabs for the different ideas -->
        <div class="product-list-tabs" flex-item="13" flex-item-order="2" flex-container="column">
            <div class="p+ bgc-blue-500" flex-container="row">
                <div flex-item>
                    <div class="card">
                        <div class="toolbar">
                            <lx-search-filter>
                                <input type="text" ng-model="searchOptions.term" placeholder="Buscar producto...">
                            </lx-search-filter>
                        </div>
                    </div>
                </div>
            </div>

            <div class="p+ bgc-blue-300" flex-container="row">
                <lx-tabs lx-theme="dark">
                    <!-- Startup 1 tab -->
                    <lx-tab lx-label="Startup 1">
                        <div flex-container="row" flex-wrap>
                            <div class="product" flex-item="3" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
                                <div class="card">
                                    <div class="card__img card__img--top">
                                        <img src="http://placehold.it/400x300">
                                        <span class="fs-headline tc-white-1 display-block">Header {{i}}</span>
                                    </div>

                                    <div class="p+">
                                        <span class="fs-subhead tc-black-2 display-block">Subheader {{i}}</span>

                                        <div class="paragraph fs-body-1">
                                            <p>Info {{i}} - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique orci a lacinia malesuada.</p>
                                        </div>
                                    </div>

                                    <div class="card__actions">
                                        <lx-button lx-color="black" lx-type="flat">Share</lx-button>
                                        <lx-button lx-color="orange" lx-type="flat">Learn more</lx-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </lx-tab>

                    <!-- Startup 2 tab -->
                    <lx-tab lx-label="Startup 2">
                        <div flex-container="row" flex-wrap>
                            <div class="product" flex-item="3" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7, 8]">
                                <div class="card">
                                    <div class="card__img card__img--top">
                                        <img src="http://placehold.it/400x300">
                                        <span class="fs-headline tc-white-1 display-block">Header {{i}}</span>
                                    </div>

                                    <div class="p+">
                                        <span class="fs-subhead tc-black-2 display-block">Subheader {{i}}</span>

                                        <div class="paragraph fs-body-1">
                                            <p>Info {{i}} - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique orci a lacinia malesuada.</p>
                                        </div>
                                    </div>

                                    <div class="card__actions">
                                        <lx-button lx-color="black" lx-type="flat">Share</lx-button>
                                        <lx-button lx-color="orange" lx-type="flat">Learn more</lx-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </lx-tab>

                    <!-- Startup 3 tab -->
                    <lx-tab lx-label="Startup 3">
                        <div flex-container="row" flex-wrap>
                            <div class="product" flex-item="3" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]">
                                <div class="card">
                                    <div class="card__img card__img--top">
                                        <img src="http://placehold.it/400x300">
                                        <span class="fs-headline tc-white-1 display-block">Header {{i}}</span>
                                    </div>

                                    <div class="p+">
                                        <span class="fs-subhead tc-black-2 display-block">Subheader {{i}}</span>

                                        <div class="paragraph fs-body-1">
                                            <p>Info {{i}} - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique orci a lacinia malesuada.</p>
                                        </div>
                                    </div>

                                    <div class="card__actions">
                                        <lx-button lx-color="black" lx-type="flat">Share</lx-button>
                                        <lx-button lx-color="orange" lx-type="flat">Learn more</lx-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </lx-tab>
                </lx-tabs>
                </div>
            </div>
        </div>
    </div>
</div>