<div class="main-view-container tc-white-1 p+" flex-container="column" flex-align="center">

    <!-- Main info section -->
    <div id="intro-section" flex-item-order="2">
        <div class="p+" flex-container="column" flex-align="space-between center">
            <div flex-item-order="1">
                <div id="logo-container" flex-container="row" flex-align="center">
                    <img src="http://placehold.it/500x400">
                </div>
            </div>
            <div flex-item-order="2">
                <div id="app-name" flex-container="row" flex-column="16" flex-align="center">
                    Hardware Store
                </div>
            </div>
        </div>
    </div>

    <!-- Idea 1 -->
    <div id="section-1" class="info-section" flex-item-order="3">
        <div class="p+ bgc-light-green-900" flex-container="row" flex-column="16" flex-align="center">
            <div class="info-content" flex-item="8">
                <div flex-container="column" flex-align="space-between center">
                    <div class="info-header" flex-item-order="1"><a ui-sref="houses">Houses</a></div>
                    <div class="info-description" flex-item-order="2">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    </div>
                </div>
            </div>
            <div class="info-image" flex-item="8"></div>
        </div>
    </div>

    <!-- Idea 2 -->
    <div id="section-2" class="info-section" flex-item-order="4">
        <div class="p+ bgc-grey-300" flex-container="row" flex-column="16" flex-align="center">
            <div class="info-image" flex-item="8"></div>
            <div class="info-content tc-black-1" flex-item="8">
                <div flex-container="column" flex-align="space-between center">
                    <div class="info-header" flex-item-order="1"><a ui-sref="furniture">JMuebles S.A.</a></div>
                    <div class="info-description" flex-item-order="2">
                        JMuebles S.A. le permite al cliente diseñar los interiores de su hogar
                        mediante una línea de muebles con la más alta calidad y diseños del momento. El usuario se
                        encarga  de insertar una medida preferente, de acuerdo a las restricciones o facilidades
                        espaciales que se tenga y nosotros nos encargamos de sugerirle una línea de muebles que más se
                        ajuste a sus gustos. Adicional contamos con  accesorios que ayudan a personalizar su selección.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Idea 3 -->
    <div id="section-3" class="info-section" flex-item-order="5">
        <div class="p+ bgc-red-500" flex-container="row" flex-column="16" flex-align="center">
            <div class="info-content" flex-item="8">
                <div flex-container="column" flex-align="space-between center">
                    <div class="info-header" flex-item-order="1"><a ui-sref="shoes">La Zapattería</a></div>
                    <div class="info-description" flex-item-order="2">
                        En La Zapattería® tienes la posibilidad de escoger y personalizar tu propio diseño, ya no más
                        zapatos con algún detalle que no te guste, ahora todos tus zapatos tendrán la talla y
                        accesorios perfectos para tu gusto. ¡Atrévete a probar lo que de verdad está hecho para ti!
                        Crea tu zapato ideal y recibe la cotización completamente gratis.
                    </div>
                </div>
            </div>
            <div class="info-image" flex-item="8"></div>
        </div>
    </div>
</div>