html {
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
}

.header {
    z-index: 10;
    position: fixed;
    width: 100%;
    top: 0;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

.header .btn {
    font-size: 1.15rem;
}

#app-name-header {
    font-size: 1.25rem;
}

.ui-view-container {
    min-height: 100vh;
}

.loading-dim {
    height: 100vh;
    position: fixed;
    z-index: 9;
    width: 100%;
    bottom: 0;
    padding-top: 50vh;
    text-align: center;
}

.header > div, .footer > div {
    text-align: center
}

.footer .rights-info a, .header a {
    color: inherit;
    text-decoration: none;
}

.progress-container {
    z-index: 10;
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media (max-width: 1023px) {
    #app-name-header {
        display: none;
    }

    .header .btn {
        font-size: 1rem;
    }
}