<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans|Raleway'>
    <link rel="stylesheet" href="assets/libs/lumx/dist/lumx.css">
    <link rel="stylesheet" href="assets/libs/mdi/css/materialdesignicons.min.css">

    <link rel="stylesheet" href="assets/css/stateChangeAnimation.css">
    <link rel="stylesheet" href="assets/css/fixedElements.css">

    <link rel="stylesheet" href="app/components/main/mainViewStyle.css">
    <link rel="stylesheet" href="app/components/signin/signinViewStyle.css">
    <link rel="stylesheet" href="app/components/signup/signupViewStyle.css">
    <link rel="stylesheet" href="app/components/productList/productListViewStyle.css">
    <link rel="stylesheet" href="app/components/furniture/furnitureViewStyle.css">
    <link rel="stylesheet" href="app/components/houses/housesViewStyle.css">
    <link rel="stylesheet" href="app/components/shoes/shoesViewStyle.css">

    <!-- Libs -->
    <script src="assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="assets/libs/velocity/velocity.min.js"></script>
    <script src="assets/libs/moment/moment-with-locales.min.js"></script>
    <script src="assets/libs/angular/angular.min.js"></script>
    <script src="assets/libs/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="assets/libs/angular-animate/angular-animate.min.js"></script>
    <script src="assets/libs/angular-ngStorage/ngStorage.min.js"></script>
    <script src="assets/libs/angular-resource/angular-resource.min.js"></script>
    <script src="assets/libs/lumx/dist/lumx.min.js"></script>

    <!-- AngularJS app  -->
    <script src="app/app.js"></script>

    <script src="app/components/signin/signinController.js"></script>
    <script src="app/components/signin/signinServices.js"></script>
    <script src="app/components/signin/signinDirectives.js"></script>

    <script src="app/components/signup/signupController.js"></script>
    <script src="app/components/signup/signupServices.js"></script>
    <script src="app/components/signup/signupDirectives.js"></script>

    <script src="app/components/orderUtilities/orderServices.js"></script>
    <script src="app/components/orderUtilities/orderDirectives.js"></script>

    <script src="app/components/houses/housesController.js"></script>
    <script src="app/components/furniture/furnitureController.js"></script>
    <script src="app/components/shoes/shoesController.js"></script>

    <title>Hardware Store</title>
</head>
<body>
    <!-- Header (not logged) -->
    <div class="header tc-white-1 bgc-blue-grey-900 p+" flex-container="row" flex-column="16" flex-align="center" ng-if="!$storage.loggedUser">
        <div id="app-name-header" flex-item="3">
            <a ui-sref="main">Hardware Store</a>
        </div>
        <div flex-item="10">Logo</div>
        <div flex-item="3" flex-container="row" flex-align="end">
            <a ui-sref="signup">
                <button class="btn btn--m btn--white btn--flat tc-white-1" lx-ripple="white-2">Registrarse</button>
            </a>
            <a ui-sref="signin">
                <button class="btn btn--m btn--white btn--flat tc-white-1" lx-ripple="white-2">Ingresar</button>
            </a>
        </div>
    </div>

    <!-- Header (logged) -->
    <div class="header tc-white-1 bgc-blue-grey-900 p+" flex-container="row" flex-column="16" flex-align="center" ng-if="$storage.loggedUser">
        <div id="app-name-header" flex-item="3">
            <a ui-sref="main">Hardware Store</a>
        </div>
        <div flex-item="10">Logo</div>
        <div flex-item="3" flex-container="row" flex-align="end">
            <lx-dropdown lx-escape-close="true">
                <lx-dropdown-toggle>
                    <button class="btn btn--m btn--while btn--flat tc-white-1" lx-ripple="white-2">
                        <span class="fs-title" style="text-transform: lowercase">{{$storage.username}}</span>
                        <i class="mdi mdi-menu-down mdi-18px"></i>
                    </button>
                </lx-dropdown-toggle>

                <lx-dropdown-menu>
                    <ul>
                        <li>
                            <a ui-sref="signout" class="dropdown-link">
                                <i class="mdi mdi-exit-to-app"></i>
                                <span>Salir</span>
                            </a>
                        </li>
                    </ul>
                </lx-dropdown-menu>
            </lx-dropdown>
        </div>
    </div>

    <!-- Main content (ruled by UI-Router) -->
    <div class="ui-view-container">
        <div class="loading-dim bgc-white-2 tc-grey-700" ng-if="stateIsLoading">
            Cargando...
        </div>
        <section class="ui-view-element" ui-view ng-hide="stateIsLoading"></section>
    </div>

    <!-- Loading bar -->
    <lx-progress lx-type="linear" lx-color="teal" ng-if="stateIsLoading"></lx-progress>

    <!-- Footer (fixed) -->
    <div class="footer tc-white-1 bgc-blue-grey-900 p+" flex-container="row" flex-column="12" flex-align="center">
        <div flex-item="6">
            <div class="p+">
                <a href="#"><lx-icon lx-id="facebook-box" lx-size="m" lx-color="black" lx-type="circled"></lx-icon></a>
                <a href="#"><lx-icon lx-id="twitter" lx-size="m" lx-color="black" lx-type="circled"></lx-icon></a>
                <a href="#"><lx-icon lx-id="google-plus" lx-size="m" lx-color="black" lx-type="circled"></lx-icon></a>
                <a href="#"><lx-icon lx-id="linkedin" lx-size="m" lx-color="black" lx-type="circled"></lx-icon></a>
                <a href="https://github.com/oscar26/hardware-store"><lx-icon lx-id="github-circle" lx-size="m" lx-color="black" lx-type="circled"></lx-icon></a>
            </div>
            <span class="rights-info fs-caption display-block">
                © Copyright 2016. Universidad Nacional de Colombia. All rights reserved.
                <br>
                <a href="#">Sitemap</a> -
                <a href="#">Privacy Policy</a> -
                <a href="#">About</a>
            </span>
        </div>
    </div>
</body>
</html>