<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:mvc="http://www.springframework.org/schema/tx"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
">

    <!-- Hibernate configuration -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="dataAccess.entities"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.hbm2ddl.auto">create</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
    </bean> 

    <bean id="dataSource" class="org.apache.tomcat.dbcp.dbcp2.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost/hardwareStore"/>
        <!--<property name="url" value="jdbc:mysql://192.168.0.50:3306/medicamentos" />-->
        <property name="username" value="root"/>
        <property name="password" value="arqsoft2015"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
 
    <tx:annotation-driven transaction-manager="transactionManager"/>
    
    <bean id="genericDao" class="dataAccess.dao.imp.GenericDAO" autowire="byName" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <!-- DAO's beans-->
    <bean id="accountDAO" class="dataAccess.dao.imp.AccountDAO" autowire="byName" scope="prototype" parent="genericDao"/>
    <bean id="administratorDAO" class="dataAccess.dao.imp.AdministratorDAO" autowire="byName" scope="prototype" parent="genericDao"/>
    <bean id="customerDAO" class="dataAccess.dao.imp.CustomerDAO" autowire="byName" scope="prototype" parent="genericDao"/>
    <bean id="itemDAO" class="dataAccess.dao.imp.ItemDAO" autowire="byName" scope="prototype" parent="genericDao"/>
    <bean id="orderBillDAO" class="dataAccess.dao.imp.OrderBillDAO" autowire="byName" scope="prototype" parent="genericDao"/>
    <bean id="orderDAO" class="dataAccess.dao.imp.OrderDAO" autowire="byName" scope="prototype" parent="genericDao"/>

    <!-- Controllers -->
    <bean id="testRestController" class="businessLogic.controllers.TestRestController" autowire="byName" scope="singleton"/>
    <!--
    <bean id="authController" class="BusinessLogic.Controllers.AuthController" autowire="byName" scope="singleton" />
    <bean id="customerController" class="BusinessLogic.Controllers.CustomerController" autowire="byName" scope="singleton" />
    <bean id="drugsController" class="BusinessLogic.Controllers.DrugsController" autowire="byName" scope="singleton" />
    <bean id="sessionController" class="BusinessLogic.Controllers.SessionController" autowire="byName" scope="singleton" />
    <bean id="billController" class="BusinessLogic.Controllers.BillController" autowire="byName" scope="singleton" />
    <bean id="purchaseController" class="BusinessLogic.Controllers.PurchaseController" autowire="byName" scope="singleton" />
    -->

    <!-- Services -->
    <bean id="orderBillService" class="businessLogic.services.OrderBillService" autowire="byName" scope="singleton"/>
    <!--
    <bean id="administratorService" class="BusinessLogic.Services.AdministratorService" autowire="byName" scope="singleton" />
    <bean id="customerService" class="BusinessLogic.Services.CustomerService" autowire="byName" scope="singleton" />
    <bean id="drugService" class="BusinessLogic.Services.DrugService" autowire="byName" scope="singleton" />
    <bean id="billService" class="BusinessLogic.Services.BillService" autowire="byName" scope="singleton" />
    <bean id="purchaseService" class="BusinessLogic.Services.PurchaseService" autowire="byName" scope="singleton" />
    <bean id="ldapOperationsService" class="BusinessLogic.Services.LDAPOperationsService" autowire="byName" scope="singleton" />
    -->

</beans>
