<div class="shoes-view-container p+" flex-container="column">
    <div class="p+" flex-container="row" flex-column="16" flex-align="center">
        <div flex-item="12">
            <div class="p+" flex-container="row" flex-column="12" flex-align="left">
                <div flex-container="column" flex-align="center">
                    <span class="fs-display-3 display-block">Shoes</span>
                </div>
            </div>

            <div class="divider divider--dark"></div>

            <div class="p+ buttons-container" flex-container="row" flex-column="12" flex-align="center">
                <div id="btn1-container" class="button-container" flex-item="6" flex-container="column" flex-align="center">
                    <a><button id="btn1" class="btn btn--m btn--white btn--flat tc-white-1" lx-ripple="white-2" ng-click="productProperties[0].value = 0">Casual 1</button></a>
                </div>
                <div id="btn2-container" class="button-container" flex-item="6" flex-container="column" flex-align="center">
                    <a><button id="btn2" class="btn btn--m btn--white btn--flat tc-white-1" lx-ripple="white-2" ng-click="productProperties[0].value = 1">Casual 2</button></a>
                </div>
            </div>

            <div class="p+ tabs-container" flex-container="column" flex-column="12" flex-align="center">
                <div flex-item="12" flex-container="column" flex-align="center">
                    <!-- Not sure if four different forms (one for each product) or just a generic one leaving
                         the tabs as mere decoration or options setting. -->
                    <lx-tabs lx-theme="dark" lx-indicator="deep-orange" lx-active-tab="productProperties[0].value">
                        <!-- Product 1 tab -->
                        <lx-tab>
                            <div flex-container="column" flex-align="space-between center">
                                <div class="product-image-container" flex-container="row" flex-align="center">
                                    <img src="http://placehold.it/600x400">
                                </div>
                                <div class="product-description">
                                    (Descripción del producto 1) Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                    Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
                                    dis parturient montes, nascetur ridiculus mus.
                                </div>
                            </div>
                        </lx-tab>

                        <!-- Product 2 tab -->
                        <lx-tab>
                            <div flex-container="column" flex-align="space-between center">
                                <div class="product-image-container" flex-container="row" flex-align="center">
                                    <img src="http://placehold.it/600x400">
                                </div>
                                <div class="product-description">
                                    (Descripción del producto 2) Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                    Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
                                    dis parturient montes, nascetur ridiculus mus.
                                </div>
                            </div>
                        </lx-tab>
                    </lx-tabs>
                </div>
                <div flex-container="column" flex-align="center">
                    <div class="divider divider--dark"></div>
                    <span class="fs-display-3 display-block">Personaliza tu pedido</span>
                    <div class="pt0 product-form-container">
                        <form name="productForm">
                            <ul class="list mt++">
                                <li class="list-row" ng-repeat="property in productProperties" ng-if="property.type !== 'none'">
                                    <div class="list-row__primary">
                                        <img ng-src="{{property.img}}" width="40" height="40" class="img-round" ng-if="property.options.hasImage">
                                    </div>
                                    <div class="list-row__content">
                                        <!-- Textfields -->
                                        <lx-text-field lx-label="{{property.name}}" lx-error="property.value.length === 0 && !productForm[property.name].$pristine" lx-allow-clear="true" ng-if="property.type === 'textfield'">
                                            <input type="text" name="{{property.name}}" ng-model="property.value">
                                        </lx-text-field>
                                        <!-- Checkboxes -->
                                        <lx-checkbox lx-color="blue-grey" ng-model="property.value" ng-if="property.type === 'checkbox'">{{property.name}}</lx-checkbox>
                                        <!-- Radio buttons -->
                                        <span class="display-block" ng-if="property.type === 'radioButton'">
                                            <span class="fs-title display-block">{{property.name}}</span>
                                            <div class="p divider"></div>
                                            <span class="p display-block">
                                                <lx-radio-group>
                                                    <lx-radio-button ng-repeat="choice in property.options.choices" name="{{property.name}}" value="{{choice.value}}" ng-model="property.value" lx-color="blue-grey">{{choice.value}}</lx-radio-button>
                                                </lx-radio-group>
                                            </span>
                                        </span>
                                        <!-- Dropdowns/lists -->
                                        <span class="display-block" ng-if="property.type === 'dropdown'">
                                            <span class="fs-title display-block">{{property.name}}</span>
                                            <div class="p divider"></div>
                                            <span class="display-block">
                                                <lx-dropdown>
                                                    <lx-dropdown-toggle>
                                                        <button class="btn btn--m btn--blue-grey btn--raised" lx-ripple="white-2">
                                                            <i class="mdi mdi-chevron-down"></i> {{property.value}}
                                                        </button>
                                                    </lx-dropdown-toggle>

                                                    <lx-dropdown-menu>
                                                        <ul>
                                                            <li ng-repeat="choice in property.options.choices"><a class="dropdown-link" ng-click="changeChoice(property.name, choice)">{{choice.value}}</a></li>
                                                        </ul>
                                                    </lx-dropdown-menu>
                                                </lx-dropdown>
                                            </span>
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </form>
                    </div>
                    <div id="send-order-button-container" flex-container="row" flex-align="center">
                        <button class="sendOrderButton btn btn--m btn--blue-grey btn--raised" lx-ripple="white-2">Enviar orden</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>